*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}

.header {
	width:100%;
	height:43px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	position:absolute;
	z-index:100;
	position:fixed;
	-webkit-transition:1s ease;
	transition:1s ease;
}

.scrolled header {
	background-color: rgba(0, 0, 0, 0.4);
}

.logo {
	width:150px;
	height:50px;
	padding:4px 10px;
}

.nav {
	width:100%;
}

ul {
	width:95%;
	margin:0 auto;
	text-align:right;
	left:14px;
	position:relative;
	padding:1px;
}

ul li {
	list-style-type:none;
	display:inline-block;
	padding:6px;
	color:#fff;
	font-size:17px;
	-webkit-transition:ease 0.2s;
	transition:ease 0.2s;
	text-transform:uppercase;
}

ul li:hover {
	border-bottom:2px solid #2972b5;
	background-color: rgba(0, 0, 0, 0.4);
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-transform:scaleX(1.05);
	transform:scaleX(1.05);
	padding-bottom:13px;
}

ul li a {
	color:#fff;
	text-decoration:none;
}

.welcome {
	width:100%;
	height:500px;
	background-color:#2972b5;
	position:relative;
	background-image:url("img/about.png");
    background-repeat: no-repeat;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-transform:skew(0deg, -5deg) translateY(-120px);
	transform:skew(0deg, -5deg) translateY(-120px);
}

.container {
	-webkit-transform:skew(0deg, 5deg);
	transform:skew(0deg, 5deg);
	margin-top:110px;
}


.name {
	color:#fff;
	text-align:center;
	top:115px;
	position:relative;
	font-family: 'Montserrat', sans-serif;
}

.text {
	color:#fff;
	text-align:center;
	top:110px;
	padding:50px;
	position:relative;
	letter-spacing:4;
	font-size:14px;
	font-family: 'Montserrat', sans-serif;
}

.toggle {
	width:100%;
	padding:7px 20px;
	text-align:right;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:#fff;
	font-size:30px;
	display:none;
}

.about {
	background-color:#fff;
	width:100%;
	height:auto;
	margin-top:-180px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
    padding-top:60px;
	padding-bottom:60px;
}

.option-container {
	width:100%;
	height:auto;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	text-align:center;
    margin-top:185px;
	flex-wrap: wrap;
	justify-content: center;
}

.option {	
	-webkit-transition:0.8s ease;
	transition:0.8s ease;
	margin-right:2%;
	margin-left:2%;
	margin-top:50px;
	width:25%; /* Dzielic 100 na ilosc diva option */
}

.option:hover {
	-webkit-transform:scale(1.07);
	transform:scale(1.08);
}

.option-name {
	padding:10px 0px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
}


.option-dis {
	text-align:center;
	padding:20px 5px;
	font-family: 'Montserrat', sans-serif;
	font-size:17px;
}

.gallery-section {
    width:100%;
}

.inner-width {
    width:100%;
    max-width:1200px;
    margin:auto;
    padding:0 20px
}

.gallery-section h1 {
    text-align: center;
    text-transform: uppercase;
    font-size:24px;
}

.border {
    width:180px;
    height:4px;
    background-color: #000;
    margin:30 auto;
}

.gallery {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.gallery-section .image {
    -webkit-box-flex:25%;
    -ms-flex:25%;
    flex:25%;
    overflow: hidden;
    cursor: pointer;
}

.gallery-section .image img {
    width:100%;
    height:auto;
    margin: 10px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.gallery-section .image:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.04);
}


@media (max-width:768px) {

	.toggle {
		display:block;
	}
	
	.active {
		display:block;
	}
	
	ul {
		width:100%; 
		display:none;
		text-align:center;
		position:relative;
		padding:10px;
    	left: 0;
    	background-color:#f1f1f1;
	}
	
	ul li {
		display:block;
		text-align:center;
		padding:20px;
		color:#000;
		height:60px;
	}
	
	ul li:hover {
		border:none;
		-webkit-transform:scaleX(1.05);
		transform:scaleX(1.05);
		background:none;
	}
	
	.nav {
		position: absolute;
		top:43px;
	}
	
	.container {
		margin-top:90px;
	}		
	
	.option-container {
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-ms-flex-direction:column;
		flex-direction:column;
        padding: 0;

}

	.option {
		width:90%;
		margin-left:5%;
		margin-right:5%;
		margin-top:55px;
        padding-top:15px;
	}
	
	.option:first-child {
		margin-top:-85px;
	}
    
    .gallery-section .image {
        flex:50%;
    }
}


@media (max-width:960px) {
    .gallery-section .image {
        flex:33.33%;
    }
}
    
@media (max-width:480px) {
    .gallery-section .image {
        flex:100%;
    }
}